<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="chiudi()">Chiudi</ion-button>
    </ion-buttons>
    <ion-title>Tagli Alternativi per {{ taglioInput.getQuantita() }} x {{ taglioInput.getTaglio() }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding flat-calculator-content">

  <ion-list lines="none" class="flat-list">
    <ng-container *ngFor="let taglio of mappaTagli">
      <ion-item class="flat-list-item" detail="false" *ngIf="taglio.getQuantita() > 0">
        <ion-icon slot="start" class="taglio-icon"
          [src]="taglio.getTaglio() >= 5 ? 'assets/icon/banknote.svg' : 'assets/icon/coin.svg'"></ion-icon>
        <ion-label class="taglio-text">{{ taglio.getTaglio() }}€ x {{ taglio.getQuantita() }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>