<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="chiudi()">Chiudi</ion-button>
    </ion-buttons>
    <ion-title>Tagli Alternativi per {{ taglio.getQuantita() * taglio.getTaglio()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ng-container *ngFor="let taglio of mappaTagli">
      <ion-item *ngIf="taglio.getQuantita() > 0">
        <ion-icon [src]="taglio.getTaglio() >= 5 ? 'assets/icon/banknote.svg' : 'assets/icon/coin.svg'"></ion-icon>
        <ion-text>{{ taglio.getTaglio() }}€ x {{ taglio.getQuantita() }}</ion-text>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>