<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Calcola Resto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="container">

    <ng-container *ngIf="resto != null && resto > 0">
      <ion-text>Resto da servire</ion-text><br>
      <ion-text>{{ resto }}</ion-text>
    </ng-container>

    <ion-alert [isOpen]="resto !== null && resto < 0" 
      header="Attenzione"
      message="Il resto ottenuto risulta essere inferiore a 0!
        Inserisci gli importi correttamente."
      [buttons]="['Chiudi']"
      (didDismiss)="cancella()">
    </ion-alert>


    <ion-item>
      <ion-label position="floating">Totale</ion-label>
      <ion-input type="text" [(ngModel)]="totale"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Pagato</ion-label>
      <ion-input type="text" [(ngModel)]="pagato"></ion-input>
    </ion-item>
    <ion-button (click)="calcola(totale, pagato)">Calcola Resto</ion-button>
    <ion-button (click)="cancella()">Cancella</ion-button>

    <ion-list *ngIf="resto != null && resto > 0">
      <ng-container *ngFor="let taglio of mappaTagli">
        <ion-item button *ngIf="taglio.getQuantita() > 0" (click)="apriModaleTaglioAlternativo(taglio)">
          <ion-icon [src]="taglio.getTaglio() >= 5 ? 'assets/icon/banknote.svg' : 'assets/icon/coin.svg'"></ion-icon>
          <ion-text>{{ taglio.getTaglio() }}€ x {{ taglio.getQuantita() }}</ion-text>
        </ion-item>
      </ng-container>
    </ion-list>

  </ion-content>
</ion-app>